<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <div class="title-page-container">
        <div class="title-page">
            <h1>The Song of Books and Readers</h1>
            <h3>Keep all your book notes in one place</h3>
        </div>
        <form method="GET" class="title-buttons">
            <button type="submit" formaction="/register">Sign Up</button>
            <button type="submit" formaction="/login">Login</button>
        </form>
    </div>
</body>
</html>