<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Book</title>
</head>
<body>
    <h1>New Book</h1>
    <form action="/add" method="POST">
        <label for="newBook">Enter the title of the book:</label>
        <input type="text" name="newBook" required>
        <button type="submit">Submit</button>
    </form>

    <!-- Once button is clicked, function handler is called passing in id of the book  -->
    <!-- The handler enables the create button and passes id to the value of hidden input -->
    <% if (locals.bookInfos) { %>
        <% locals.bookInfos.forEach(book => { %>
            <button id="<%=book.id%>" class="book-cover" onclick="handler('<%=book.id%>')"><img src="<%=book.imageLink%>"></button>
        <% }); %>
    <% } %>
    <form action="/select" method="POST">
        <input type="hidden" name="selectedBookId" id="hidden" value="">
        <button id="disabled" type="submit" hidden>Select</button>
    </form>

    <script>
        function handler(id) {
            document.getElementById("hidden").setAttribute("value", id);
            document.getElementById("disabled").removeAttribute("hidden");
        }
    </script>
</body>
</html>