<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes</title>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&family=Cormorant+Garamond&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <h1>Add Your Notes</h1>
    <img src="<%=book.imageLink%>">
    <form class="book-notes-container" action="/new-note" method="POST">
        <input type="hidden" name="id" value="<%=book.id%>">
        <% const review = reviews.find(r => r.bookId == book.id);
        if (!review) { %>
            <div class="finished-attributes">
                <div class="finished-checkbox">
                    <label for="finished">Finished?</label>
                    <input type="checkbox" id="checkbox" name="finished" value="Finished" onchange="toggleFinished()">
                </div>
                <div class="rating">
                    <label id="rating-label" for="rating" hidden>Rating:</label>
                    <input id="rating-input" type="number" name="rating" min="1" max="10" hidden>
                </div>
                <div class="date-finished">
                    <label id="date-finished-label" for="dateFinished" hidden>Date Finished:</label>
                    <input id="date-finished-input" type="date" name="dateFinished" hidden>
                </div>
            </div>
        <% } %>
        <label for="noteDate">Date:</label>
        <input type="date" name="noteDate" required>
        <label for="notes">Notes:</label>
        <textarea name="notes" wrap="soft" rows="30" required></textarea>
        <button type="submit">Submit</button>
    </form>

    <script>
        function toggleFinished() {
            let toggleValue = document.getElementById("rating-label").hasAttribute("hidden");
            if (toggleValue) {
                document.getElementById("rating-label").removeAttribute("hidden");
                document.getElementById("rating-input").removeAttribute("hidden");
                document.getElementById("date-finished-label").removeAttribute("hidden");
                document.getElementById("date-finished-input").removeAttribute("hidden");
            } else {
                document.getElementById("rating-label").setAttribute("hidden", true);
                document.getElementById("rating-input").setAttribute("hidden", true);
                document.getElementById("date-finished-label").setAttribute("hidden", true);
                document.getElementById("date-finished-input").setAttribute("hidden", true);
            }
        }
    </script>
</body>
</html>