<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <div class="register-page-container">
        <h1 id="register-page-title">Sign Up</h1>
        <form action="/register" class="register-page" method="POST">
            <div class="email-container">
                <label for="username">Email:</label>
                <input type="text" name="username">
            </div>
            <div class="password-container">
                <label for="password">Password:</label>
                <input type="text" name="password">
            </div>
            <button type="submit">Sign Up</button>
        </form>
    </div>
</body>
</html>