.book-entry-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.book-notes-container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.edit-container {
    display: flex;
    justify-content: space-between;
    margin: 40px 0px;
}

.hidden-container {
    display: none;
}

.book-cover-image {
    float: left;
}

.finished-attributes {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 50px 0px;
}

.edit-reviews-attributes {
    margin: 0px 0px;
}

.icon {
    background-color: white;
    border-radius: 50%;
    border: none;
    align-self: start;
}

.icon:hover {
    background-color: ghostwhite;
}
